<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="pMp19Y7-urHjQ4W8RxaMyxm1URXEvYK6-bYp49U2nsY" />
    <meta name="author" content="Gaurav Kumar">
    <meta property="og:description" content="Generate assignments and essays on various topics. Download PDFs of your content instantly.">
    <meta property="og:image" content="{% static 'images/logo.png' %}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@YourTwitterHandle">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Generate assignments and essays on various topics. Download PDFs of your content instantly.">
    <meta name="keywords" content="generate assignment with ai, generate essay with ai, ai, assignment, essay, generator, generate, topic, content, assignment generator, essay generator, assignement with ai, essay with ai">

    <title>{% block title %}Generate and Download Assignments and Essays with AI{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="{% static 'js/ajax.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://www.goassignr.line.pm/",
      "name": "goassignr",
      "description": "Generate assignments and essays on various topics. Download PDFs of your content instantly.",
      "publisher": {
        "@type": "Organization",
        "name": "DreamCode",
        "logo": {
          "@type": "ImageObject",
          "url": "{% static 'images/logo.png' %}"
        }
      }
    }
    </script>

</head>
<body>
    <div class="nav">
        <div>
            <img class="logo" src="{% static 'images/logo.png' %}" alt="Assignment and Essay Generator Logo">
        </div>
    </div>

    <div class="center-container">
        {% block content %}{% endblock %}
    </div>

    <footer>
      <nav class="social">
        <ul>
          <li><a href="https://www.instagram.com/gauravkumar_pg/">Instagram <i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/in/gaurav-kumar-b5a76626b">Linkedin <i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://github.com/gaurav5xy">Github <i class="fa fa-github"></i></a></li>
        </ul>
      </nav>

      <div class="footer-item">
        <div class="all-copyrights-reserved">
            All Copyrights reserved By GoAssignr
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
